body{
    background-color: papayawhip;
}
#wrapper
{
    margin: 5%;
    background-color: palegoldenrod;

}
header
{
    display: grid;
    grid-template-columns: 10% 88%;
    grid-column-gap: 2%;
    background-color: darkgoldenrod;
}
#header-icon img
{
    width:80px;
    height:100%;
}
#header-name
{
    display: inline;
}
#main-grid{
    margin: 10px;
    display: grid;
    /*grid-template-columns: 45% 45%;*/
    /*grid-auto-columns: 45%;*/
    grid-template-columns: repeat(3,20%);
    grid-row-gap: 3em;
    grid-column-gap: 20%;

}
.menu-item
{
    text-align: center;
}
.menu-item a{
    text-decoration: none;
    color: black;
}
.menu-tile-img
{
    width:100%;
}
#header-nav
{
    display: grid;
    grid-column: span 2;
    width:100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
}
.nav-item
{
    height:2em;
    width:100%;
    background-color: floralwhite;
    text-align: center;
    border: black 2px solid;
    text-decoration: none;
    color:black;
}